@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");

@layer components {
  * {
    font-family: "Nunito", sans-serif;
  }

  .text-sl {
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
  }

  .text-sr {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }

  .text-sm {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }

  .text-ml {
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.0005em;
  }

  .text-mr {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.0005em;
  }

  .text-mm {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.0005em;
  }

  .text-btnm {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.006em;
  }

  .text-btnl {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.006em;
  }

  .text-lr {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.011em;
  }

  .text-lm {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.011em;
  }

  .heading-sr {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.017em;
  }

  .heading-sm {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.017em;
  }

  .heading-m {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.0005em;
  }

  .heading-l {
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.022em;
  }

  .heading-x {
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
  }

  .heading-xl {
    font-size: 38px;
    font-weight: 600;
    line-height: 44px;
  }

  .heading-xxl {
    font-size: 54px;
    font-weight: 600;
    line-height: 74px;
    letter-spacing: 0.04em;
  }

  table {
    border: 1px solid lightgrey;
    border-collapse: collapse;
    border-radius: 1rem;
    border-collapse: separate;
  }
  table thead th {
    padding-top: 16px;
    padding-bottom: 16px;
    color: black;
    border-bottom: 1px solid lightgrey;
  }
  table tbody tr {
    border-bottom: 1px solid lightgrey !important;
  }
  table tbody td {
    padding: 16px;
    color: black;
    font-family: "Nunito-Bold";
  }

  input {
    background-color: white;
    border: 1px solid lightgrey;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 32px;
    padding-right: 16px;
    border-radius: 20px;
  }
}
